img {
    width: 140px;  
}

span {
    font-weight: bold;
}

.content-wrapper {
    position: absolute;
    margin: 5px 10%;    
    width: auto;
    text-align: left;
    padding: 5px 15px;
}

.content {
    font-family: system-ui;
    display: flex;
}
aside {
    padding: 30px;
    background-color: lightgrey;
}
main {
    padding: 30px;
}
.avatar-img{
    width: 96%;
    border: solid 2px rgb(63, 63, 2)
}
main {
    background-color:rgb(228, 228, 228);
}
footer {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    border-top: solid black 2px;
}

ul {
    display: inline-block;    
}
